*{
  box-sizing: border-box;
}

body{
  margin: 100px 50px 20px 50px;
  font-size: 18px;
  line-height: 1.6;
}
.navbar-brand {
  padding: 0px 0px 0px 40px;
}
.form-inline {
  padding: 0px 35px 0px 0px;
}
h1{
  font-weight: 600;
  font-size: 20px;
}
h2 {
  font-weight: 700;
  font-size: 28px;
}
.pokemon-picture{
  height: 150px;
  float: left;
}

.pokemon-height {
  font-weight: 300;
  font-size: 20px;
}

.pokemon-weight {
  font-weight: 300;
  font-size: 20px;
}

.pokemon-type {
  font-weight: 300;
  font-size: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
}
footer .social-media {
  text-align: center;
}
.pokemon-list {
  margin-top: 150px;
  margin-bottom: 80px;
}

.social-media{
  height: 60px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.social-media-one{
  padding: 20px 0px 0px 0px;
  text-align: center;
}

/*==============
  MEDIA QUERIES
==============*/
@media all and (max-width: 600px) {
  }
  h1 {
  font-size: 40px;
  }
}
